@tailwind base;
@tailwind utilities;

@theme {
  --color-black: #000000;
  --color-blue-100: #d7edff;
  --color-blue-500: #0077d3;
  --color-gray-100: #f6f6f6;
  --color-gray-200: #e9e9e9;
  --color-gray-300: #cfcfcf;
  --color-gray-400: #b3b3b3;
  --color-gray-500: #828282;
  --color-gray-600: #606060;
  --color-gray-700: #555555;
  --color-gray-800: #333333;
  --color-gray-900: #222222;
  --color-green-100: #a2fcba;
  --color-green-500: #00c541;
  --color-red-100: #fddddd;
  --color-red-500: #f55151;
  --color-white: #ffffff;
  --color-yellow-100: #fffabc;
  --color-yellow-500: #f8820d;

  --font-size-8: 8px;
  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-32: 32px;

  --spacing-3xs: 4px;
  --spacing-2xs: 8px;
  --spacing-xs: 12px;
  --spacing-s: 16px;
  --spacing-m: 20px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 40px;
  --spacing-3xl: 80px;

  --border-radius-0: 0px;
  --border-radius-4: 4px;
  --border-radius-8: 8px;
  --border-radius-full: 9999px;
}
